#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem;
  text-align: center;
}

@media (width <= 1250px) { 
  #root {  
    padding: 0.5rem;
  }
}

.card {
  padding: 2em;
}

.error-message {
  color: red;
  font-weight: 600;
}


.start-screen {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 2px solid black;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 4rem;
  border-radius: 25px;
}

.start-screen .buttonStart {
  background-color: #ffb100;
  border: 2px solid black;
  color: #222;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px 0;
}

.start-screen .buttonStart:hover {
  background-color: #ffb1009e;
}

.start-screen h1 {
  font-size: 4rem;
  color:#222;
}

@media (width <= 1250px) { 
  .start-screen h1 {
    font-size: 3rem;
    margin-top: 20px;
  }

  .start-screen {
    padding: 3rem;
  }
}

.container-input {
  align-items: center;
  display: flex; 
  padding-top: 5%;
  justify-content: space-evenly;
  flex-direction: column;
  width: auto;
}

.container-input input {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  color: #222;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
}