.answer-section {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    gap: 4rem;
}

.answer-section button {
  background-color: #ffb100;
  border: 2px solid black;
  color: black;
  font-size: 1.5rem;
  text-wrap: nowrap;
  width: 100rem;
}

@media (width <= 1250px) {
  .answer-section button {
    text-wrap: wrap;
    width: 15rem;
  }
}

@media (width <= 1250px) {
    .answer-section{
      display: flex;
      flex-direction: column;
      gap: 1rem;
  }
}
.answer-section button:hover {
  background-color: #ffb1009e;
}

.correct {
    background-color: green !important;
    border: none !important;
    color: white !important;
    transition-duration: 1s;
  }
  
  .incorrect {
    background-color: red !important;
    border: none !important;
    color: white !important;
    transition-duration: 1s;
  }



.quiz-container {
  display: flex;
  background-color: white;
  border: 2px solid black;
  border-radius: 25px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  color: #222;
  font-weight: 700;
  font-size: 2rem;
  flex-direction: column;
  padding: 4rem;
  min-width: 1250px;
}


@media (width <= 1250px) { 
  .quiz-container {
    padding: 1rem;
    min-width: auto;
  }
}
